<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie-edge">
        <title>Purchase Order</title>
    </head>

    <body>
        <div>
            <h2>{{profile.name}}</h2>
            <h3>TEL: {{profile.tel}}</h3>
            <h4>LOCAL PURCHASE ORDER</h4>

            
            <h2>{{company.name}}</h2>
            <h3>TEL: {{company.tel}}</h3>
            <h4>LOCAL PURCHASE ORDER</h4>
        </div>
    </body>
</html>