body {
  margin: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sale-btn{
  margin-left: 22px
}
input{
  outline: none;
  border: none;
  padding: 4px;
  border-radius: 5px
}
.details-image{
  width: 12rem;
  height: 300px
}
.dashboard-nav{
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  background-color: #D3D3D3;
  max-height: 100vh;
  height: 100vh;
  border-radius: 6px;
  align-content: center; 
}
.dashboard-nav .nav-link{
  text-decoration: none;
  //height: 40px;
  width: 100%;
  align-self: flex-start;
  font-weight: 400;
  padding-top: 12px;
  font-size: 18px;
  color: #070f4e
}

.app-Bar{
  background-color: #D3D3D3;
}
.dashboard-display{
  overflow-y: auto;
  white-space: nowrap;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  padding: 12px
}








/*  */