body {
  margin: 0;
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sale-btn{
  margin-left: 22px
}
input{
  outline: none;
  border: none;
  padding: 4px;
  border-radius: 5px
}
.details-image{
  width: 12rem;
  height: 300px
}
.dashboard-nav{
  background-color: #10143E;
  height: 100vh
}
.dashboard-nav .nav-link{
  text-decoration: none;
  color: white;
  height: 40px;
  font-weight: 500;
  padding: 12px

}
.dashboard-display{
  overflow: Scroll;
  white-space: nowrap;
  width: 100%
}








/*  */